body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  color: white;
  font-family: Arial, sans-serif;
}

.navbar-container {
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  margin: auto;
  text-decoration-color: black;
}


.navbar {
  width: 82.8%;
  margin:auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 14;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: space-around;
  width: 23%;
  decoration: none;
  margin-right: 2%;
}

#home-menu{
  color: orangered;
}

.navbar-menu h5{
  text-decoration: none;
  color: black;

} 

.brand {
  width: 20%;
  text-align: left;
  background-color: white;
  color:black;
  padding: 1rem;
  margin: 1rem;
  border-radius: 8px;
  }

  .brand-image{
    align-items: center;
    width:70%;
  }

.brand h1 {
  font-family: 'Inter, sans-serif';
  font-size: 1rem;
}

.brand .highlight {
  color: yellow;
}

.menu {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.menu div {
  margin: 0.5rem 0;
}


.navbar-menu a:link { 
  text-decoration: none; 
} 
.navbar-menu a:visited { 
  text-decoration: none; 
} 
.navbar-menu a:hover { 
  text-decoration: none; 
} 
.navbar-menu a:active { 
  color: #003366;
}

.menu-link {
  color: black;
  text-decoration: none;
  decoration: none;
}

.menu-link h5 {
  font-size: 1rem;
  transition: color 0.3s;
}

.menu-link h5:hover {
  color: #003366;
}

.navbar-menu p{
  font-size: 12px;
  text-decoration: none;
  color: black;

} 

.menu-link p {
  font-size: 20px;
  transition: color 0.3s;
  color: black;
}

.menu-link p:hover {
  color: #003366;
}

.spinning-icon {
  width: 100px;
  animation: spin 4s linear infinite;
}


.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 84%;
  margin: auto;
  padding-top: 0px;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: 700;
}


.intro-text {
  margin-top: auto;
  width: 60%;
  text-align: left;
  padding: 0px;
  color: black;
  font-family: Arial, sans-serif;
font-size: 45px;
font-kerning: normal;
font-weight: lighter;
font-family: Arial, sans-serif;
font-size: 45px;
font-kerning: normal;
font-weight: lighter;
top: 200px;
overflow-y: true;
}

.intro-text-main{
  line-height: 125%;
  margin-top:auto;
}

.intro-text-subtext {
  margin-top:auto;
  font-size: 20px;
  font-kerning: normal;
font-weight: lighter;
font-family: Arial, sans-serif;
font-kerning: normal;
font-weight: lighter;
}

.highlight {
  color: orangered;
}


.profile-pic {
  width: 25%;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
  
}

.profile-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
